@font-face {
    font-family: "JetBrains Mono Medium";
    src:
        local("JetBrains Mono Medium");
        url("fonts/JetBrains/JetBrainsMono-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Fira Sans";
    src: 
        local("Fira Sans Medium");
        url("fonts/FiraSans/FiraSans-Medium.ttf") format("ttf");
}

.navbutton {
    display: inline-block;
    padding: 0.5vh;
    font-family: "JetBrains Mono Medium", monospace;
}

#logo {
    padding: 1vh;
}

#topNav {
    align-content: center;
}

#topbar {
    display: block flex;
    flex-direction: row;
    align-content: center;
    height: 10vh;

}

html, body {
    height: 100%;
    background-color: #212121;
    color: #E5C99B;
}

main {
    display: block flex;
    height: 100%;
    padding: 10px;
}

#mainPane {
    padding: 10px;
    font-family: "Fira Sans", sans-serif;
}

#sidebar {
    background-color: #524B40;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    list-style: none;
    padding: 10px;
    font-family: "JetBrains Mono Medium", monospace;
}

.project {
    padding: 0;
    margin: 0;
}

footer {
    padding: 20px;
    margin: 5px;
}